body {
    background-color: rgb(77, 126, 107);
    font-family: "Sedan", sans-serif;
}
.box {
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(241, 238, 238, 0.781), 2px 2px 2px 2px rgba(196, 248, 207, 0.562);
    border-radius: 5px;
    background-color: rgb(145, 194, 199);
    margin: .4vw 2vw 1vw 2vw;    
}

.flex1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.topper {
    height: 12vw;
    width: 6vw;
    margin-left: 25vw;
}
.flexSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    transition: .5s;
    float: left;
    width: 16vw;
    height: Auto;
    overflow: visible;
}
header {
    background-image: url(flowersback.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 40% ;
    opacity: .8;
    width: 95vw;
    height: 15vw;  
    text-align: center;
    margin-bottom: 0vw;
}
.font {
    color: rgb(7, 14, 11);
    opacity: 1;
    font-family: "Bitter","Aboreto", sans-serif;
}
.closebtn {
    height: 1vw;
    width: 2.5vw;
    background-color: rgb(252, 252, 252);
    visibility: hidden;
    margin: -2;
}
.openbtn{
    visibility: hidden;
}

#pict {
    height: 12vw;
    width: 15vw;
    border: .5rem solid rgba(196, 248, 207, 0.3);
    border-radius: 5px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 5vw;
}
#middle {
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    margin-left: 4vw;
    justify-content: center;
    font-weight: 900;
}
.flexSide:hover #pict {
    opacity: 0.3;
}
.flexSide:hover #middle {
    opacity: 1;
}

.main {
    float: right;
    width:  75%;
    height: 30vw ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1vw;
}

footer {
    clear: left;
    width: 95vw ;
    height: 2vw;
}
a:link { color: rgb(35, 75, 45); text-decoration: underline;}
a:hover { color: rgb(170, 87, 170); text-decoration: overline;}
a:active { color: crimson; text-decoration: wavy;}
a:visited{ color: rgb(88, 32, 218); text-decoration: double;}
h2 { background-color: rgb(116, 168, 153);}

@media screen and (min-width: 0px) and (max-width:900px) {
    .flex1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .flexSide {
        width:95%;
        height: 0vw;
        margin: 2vw;
        overflow: hidden;
    }
    .openbtn {
        visibility: visible;
    }
    .closebtn{
        visibility: visible;
        margin-bottom: 1vw;
        height: auto;
        width: 10vw;
        
    }
    h1 h3 h4 { 
        font-size: x-small;
    }
    #pict {
        justify-content: center ;
        height: 99%;
        width: auto;
        overflow: hidden;
        margin: .5vw 0vw 0vw 0vw;
        border: .1vw;

    }
   
    .topper {
        height: auto;
        width: auto;
        margin-right: 1vw;
    }
    header {
        width: 95%;
        height: auto;
        margin: 2vw;
    }
    .main {
        width: 95%;
        height: auto;
        margin-bottom: 2vw;
        margin-left: 1vw;
    }
    footer {
        margin-top: 2vw;
        height: auto;
        width: auto;
    }

}


@media screen and (min-width: 900px) and (max-width:1300px) {
    .flex1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex2 {
        display: flex;
        flex-direction: column;
    }
    #sideBar {
       width:18%;
       height: auto;
       margin-right: 1vw;
    }
    
    #pict {
        height: 14vw;
        width: 17.5vw;
        border: .2rem solid rgba(196, 248, 207, 0.3);
    }
    .topper {
        height: 12vw;
        width: 10vw;
    }
    a {
        font-size: small;
    }
    header {
        width: 95%;
        height: 25vw;
    }
    .main {
        width: 75%;
        height: auto;
        margin-bottom: 2vw;
        margin-left: 1vw;
        padding: 1vw;
    }

    .child {
        padding: 1vw;
    }    
    
    footer {
        margin-top: 2vw;
    }
}
    
