body {
    background-color: rgb(54, 129, 100);
}
header {
    background-image: url(flowersback.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 50% ;
    opacity: .7;
    box-shadow: 2px 2px 2px 2px rgba(241, 238, 238, 0.781), 2px 2px 2px 2px rgba(196, 248, 207, 0.562) ;
    width: 90rem;
    height: 15rem;
    margin: 0rem 5rem;
    border-radius: 5%;  
    text-align: center;
}
h1 + h4 {
    color: rgb(7, 14, 11);
    opacity: 1;
}